.ct-grid {
	stroke: rgba(255,255,255,0.2);
}

.ct-series-a .ct-line {
	fill: none;
	stroke-width: 2px;
	stroke: rgba(255, 255, 255, .2);
}

.ct-series-a .ct-point {
	stroke-width: 4px;
}

.ct-series {
	stroke: rgba(255, 255, 255, 1);
}

.ct-label {
	fill: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 0.6rem;
	white-space: break;
}

@media (prefers-color-scheme: light) {
	.ct-grid {
		stroke: rgba(0,0,0,0.2);
	}

	.ct-series-a .ct-line {
		fill: none;
		stroke-width: 2px;
		stroke: rgba(0,0,0,0.2);
	}

	.ct-series-a .ct-point {
		stroke-width: 4px;
	}

	.ct-series {
		stroke: rgba(0,0,0,1);
	}

	.ct-label {
		fill: rgba(0,0,0,1);
		color: rgba(0,0,0,1);
	}
}
