:root {
	--body: #c1c1c1;
	--bg: #303030;
	--checkfg: #c1c1c1;
	--checkbg: #303030;
	--link: #00FFFF;
	--heads: #c2f486;
	--prebg: #262626;
}
a,body,h1,h2,h3,h4,h5,html,li,p,span,strong,u,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
body{font-family:Consolas,monaco,monospace;font-size:130%;line-height:1.4;margin:3% 5%;max-width:50em;background:var(--bg);color:var(--body);}
ul{list-style-type: none;margin-left:1rem;}
ul>li:before {content:"-";position:absolute;margin-left:-1.1rem;}
a{text-decoration:none;color:var(--link);}
p{margin-bottom:.75rem}
hr{border:0;}
hr:after{content:"---";content:"---" / "";display:block;}
h1,h2,h3,h4,h5{line-height:100%;margin-top:2rem;margin-bottom:1rem;color:var(--heads);}
h1:before{content:"# ";content:"# " / "";}
h2:before{content:"## ";content:"## " / "";}
h3:before{content:"### ";content:"### " / "";}
h4:before{content:"#### ";content:"#### " / "";}
h5:before{content:"##### ";content:"##### " / "";}
strong{font-weight:700;}
strong:before{content:"**";content:"**" / "";}
strong:after{content:"**";content:"**" / "";}
em{font-style:italic;}
em:before{content:"*";content:"*" / "";}
em:after{content:"*";content:"*" / "";}
input[type="checkbox"] { position: relative; top: 4px; width: 1.5em; height: 1.5em; border: 2px solid var(--checkbg); border-radius: 4px; appearance: none; outline: 1px solid var(--checkfg); cursor: pointer; }
input[type="checkbox"]:checked { background: var(--checkfg); }
label { padding-left: 10px; }
pre { display: block; padding: 10px; background: var(--prebg); overflow: scroll }

@media (prefers-color-scheme: light) {
	a{text-decoration: underline;}
	h1,h2,h3,h4,h5{font-weight:bold;}
	:root {
		--body: #40302f;
		--bg: #edf4f9;
		--checkfg: #303030;
		--checkbg: #c1c1c1;
		--link: #172b73;
		--heads: #40302f;
		--prebg: #e2e2e2;
	}
}
