:root {
	--body: #c1c1c1;
	--bg: #303030;
	--checkfg: #c1c1c1;
	--checkbg: #303030;
	--link: #00FFFF;
	--head1: #c2f486;
	--head2: #f486c8;
	--head3: #86aef4;
	--head4: #f1f72b;
	--head5: #f4bce1;
	--lines: #c2f486;
	--prebg: #262626;
	--small: 0.6em;
}
input,button{border:1px solid var(--lines);background-color: transparent;color:var(--body);padding:5px 8px;}
form {margin-bottom: 1em;}
a,body,h1,h2,h3,h4,h5,html,li,p,span,strong,u,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
body{font-family:Consolas,monaco,monospace;font-size:130%;line-height:1.4;margin:3% 5%;max-width:50em;background:var(--bg);color:var(--body);}
ul{list-style-type: none;margin-left:1rem;}
ul>li:before {content:"-";position:absolute;margin-left:-1.1rem;}
ul li:last-of-type {margin-bottom:10px;}
a{text-decoration:none;color:var(--link);}
p{margin-bottom:.75rem}
hr{border-bottom: 1px solid var(--lines);}
h1{font-size:28px;margin-bottom:1rem;color:var(--head1);}
h1:not(:first-of-type){margin-top:2rem;}
h2{font-size:24px;margin-top:2rem;margin-bottom:1rem;color:var(--head2);border-bottom: 1px solid var(--head2);}
h3{font-weight:bold;;margin-top:2rem;margin-bottom:1rem;color:var(--head3);}
h4{font-style:italic;margin-top:2rem;margin-bottom:1rem;color:var(--head4);}
h5{margin-top:2rem;margin-bottom:1rem;color:var(--head5);}
strong{font-weight:700;}
em{font-style:italic;}
u{text-decoration: underline;}
input[type="checkbox"] { position: relative; top: 4px; width: 1.5em; height: 1.5em; border: 2px solid var(--checkbg); border-radius: 4px; appearance: none; outline: 1px solid var(--checkfg); cursor: pointer; }
input[type="checkbox"]:checked { background: var(--checkfg); }
label { padding-left: 10px; }
pre { display: block; padding: 10px; background: var(--prebg); overflow: scroll }
.table-of-contents { margin-top:1em;border-left: 20px solid var(--prebg); padding-left: 20px; font-size: 0.8em;}
blockquote{border-left: 20px solid var(--prebg);margin-left:0;padding-left:15px;}
table{ max-width:100%; border-collapse:collapse; }
thead{ background: var(--prebg); border-bottom: 1px solid var(--lines); }
tr:not(:last-of-type){ border-bottom: 1px solid var(--lines); }
td:not(:last-of-type){ border-right: 1px solid var(--lines); }
td,th{ padding: 8px }
.back{visibility: hidden;position:relative;}
.back::before {visibility:visible;font-size:28px;content:'⌂';}
sup{vertical-align:super;font-size:0.5em;}
.vimwikitag{font-size:var(--small);}
.vimwikitag::before{content:'🏷'; padding-right: 3px;}
.footnotes-sep{margin-top: 2em;}
.footnotes{font-size:var(--small);}
img{max-width:100%;height:auto;vertical-align:middle;font-style:italic;background-repeat:no-repeat;background-size:cover;shape-margin:0.75rem;}

@media (prefers-color-scheme: light) {
	a{color:var(--body);text-decoration:underline;text-decoration-color:var(--link);text-decoration-skip-ink:none;text-decoration-thickness:0.3rem;text-underline-offset:-0.25rem;transition:text-decoration 0.3s;}
	a:hover{text-decoration-color:var(--linkhover);text-decoration-skip-ink:none;text-decoration-thickness:0.5rem;}
	h1,h2,h3,h4,h5{font-weight:bold;}
	:root {
		--body: #40302f;
		--bg: #edf4f9;
		--checkfg: #303030;
		--checkbg: #c1c1c1;
		--link: #ffdc6e;
		--linkhover: #ffd244;
		--head1: #000;
		--head2: #660863;
		--head3: #082766;
		--head4: #082766;
		--head5: #082766;
		--lines: #40302f;
		--prebg: #e2e2e2;
	}
}
